{% extends "AmicaleBundle::layoutAdmin.html.twig" %}

{% block title %}
    Activité
{% endblock title %}


{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Nouvelle Activité
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            {{form_start(form)}}
                            <form role="form">

                                <div class="form-group">
                                    <label>Intitulé</label>
                                    {{ form_widget(form.actIntitule , { 'attr': {'class': "form-control",
                                        'placeholder': "Intitulé"} }) }}

                                </div>

                                <div class="form-group">
                                    <label>Lieu</label>
                                    {{ form_widget(form.actLieu , { 'attr': {'class': "form-control",
                                        'placeholder': "Lieu"} }) }}

                                </div>
                                <div class="form-group">
                                    <label>Montant à atteindre</label>
                                    {{ form_widget(form.actChMontant , { 'attr': {'class': "field number_field",
                                        'placeholder': "Montant primaire"} }) }}
                                </div>

                                <div class="form-group">
                                    <label>Date début</label>
                                    {{ form_widget(form.actDateDeb) }}
                                </div>

                                <div class="form-group">
                                    <label>Date fin</label>
                                    {{ form_widget(form.actDateFin) }}
                                </div>
                                <div class="form-group">
                                    <label>Heure debut</label>
                                    {{ form_widget(form.actHeureDeb) }}
                                </div>
                                <div class="form-group">
                                    <label>Heure fin</label>
                                    {{ form_widget(form.actHeureFin) }}
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    {{ form_widget(form.actDescription , { 'attr': {'class': "form-control",
                                        'rows':"3"} }) }}
                                </div>
                                {{ form_widget(form.Valider, {'attr':{'class':"btn btn-default" }})}}
                                <p class="btn btn-primary" color="white"> <a href="/Amicale/web/app_dev.php/AcceuilActiviteCHR"> Retour</a></p>
                                {{form_end(form)}}

                            </form>

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        <div class="col-lg-6">
                            {% if errors|length  > 0 %}
                                <h3><p class="text-danger"> Le formulaire comporte les erreurs suivantes</p></h3>
                                <ul>
                                    {% for error in errors %}
                                        <li> <p class="text-danger">{{ error.message }}</p></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

{% endblock body %}