{% extends "AmicaleBundle::layoutAdmin.html.twig" %}

{% block title %}
    Galerie
{% endblock title %}

{% block stylesheet %}
   <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />

{% endblock stylesheet %}
{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.glrImg) }}
    {{ form_row(form.submit)  }}
    {{ form_end(form) }}
    <div>
        <a href="http://localhost/Amicale/web/app_dev.php/AcceuilGalerie?page=1">Retourner</a>
    </div>


{% endblock body %}